.person{
	width: 60%;
	margin: 12px auto;
	border :2px solid;
	text-align: center;
	
	box-shadow: 0px 3px 5px  #ccc;
	padding: 20px;
	background-color: gray;
	color: white;
	
}


.Input{
	width: 30%;
	border :1px solid;
	box-shadow: 0 2px, 3px #ccc;
}


