.red{
	color: red;
}

.red.bold{
	font-weight: bold;
}

.Button{
	background-color: green;
	color: white;
}

 .Button:hover{
	background-color: lightgreen;
	color: black;
}

 .Red{
	background-color: red;
	color: white;
}

 .Red:hover{
	background-color: salmon;
	color: black;
}
